* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: black;
  color: #f0f8ff;
  font-family: var(--fontFamily);
  text-align: center;
}

:root{
  --colorClaro: #f9c4cc;
  --colorOscuro: #2d1345;
  --fonts-body: #f0f8ff;
  --fontFamily: monospace;
  --sectionHeigth: 100vh;
}

/* -----HEADER------- */

header {
  min-height: 100px;
  display: flex;
  align-items: center;
}

header div.logo img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

nav ul li {
  height: 10vh;
  display: flex;
  align-items: center;
  padding: 10px;
}

nav ul li a {
  font-size: 15px;
  text-decoration: none;
  color: var(--colorClaro);
}
/* *********MAIN***** */
 
/* FIRST SECTION */

section.first {
  min-height: var(--sectionHeigth);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--colorOscuro);
  gap: 10px;
}

.cont-description {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 20px;
  margin-bottom: 20px;
}

h1 {
  color: lightblue;
  font-size: 40px;
  font-family: Fontdiner Swanky;
  text-shadow: 4px -3px 1px rgba(234, 218, 218, 0.49);
}

.profile-photo {
  height: 250px;
  border: 6px double rgb(47, 200, 47);
  margin-top: 10px;
}

.txt-title {
  color: var(--colorClaro);
  font-size: 25px;
  padding: 0 20px;
}

.button-projects {
  align-self: center;
  display: flex;
  text-align: center;
  justify-content: center;
  border-radius: 8px;
  width: 200px;
  height: 40px;
  background-color: lightblue;
  color: var(--colorOscuro);
  padding: 10px;
  margin-top: 20px;
  font-size: 20px;
  box-shadow: 10px 10px 5px 0px rgba(224, 201, 201, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(224, 201, 201, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(224, 201, 201, 0.75);
}

.button-projects a {
  text-decoration: none;
  font-weight: 600;
  display: flex;
  justify-content: center;
}

/* LANGUAGE SECTION */

#language {
  display: flex;
  min-height: var(--sectionHeigth);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

div.text-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

#language h3 {
  font-size: 30px;
  margin-bottom: 20px;
}

.txt {
  font-size: 20px;
  font-style: oblique;
  text-align: center;
  padding: 0 20px;
}

div.language {
  align-items: center;
  min-width: 80%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

div.language:hover div img{
  transform: rotatey(360deg);
  transition: 10s ;
}

div.language div img {
  height: 100px;
  width: 100px;
  border-radius: 10px;
  border: 5px solid var(--colorClaro);
  margin: 30px;
}

/* DATE */

.date {
  min-height: var(--sectionHeigth);
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./assets/imagenes/atardecer.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 30px;
  color: rgb(234, 234, 241);
  font-family: fantasy;
}

.date p {
  position: relative;
  padding: 20px;
  margin-bottom: 30px;
  bottom:30px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* PROJECTS SECTION*/

#projects {
  min-height: var(--sectionHeigth);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 5px solid var(--colorClaro);
  background-color: var(--colorOscuro);
}

div.txt-project {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: center;
  background-color: var(--colorOscuro);
  padding: 20px;
}

div.txt-project h3 {
  margin-bottom: 20px;
}

div.works {
  min-width: 80%;
  background-color: rgb(35, 5, 65);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 20px;

}

div.works div.work a img {
  border: 5px solid var(--colorClaro);
  width: 140px;
  height: 180px;
  margin: 20px;
}

/* CONTACT SECTION */

#contact {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: var(--colorClaro);
  color: black;
}

#contact h3 {
  font-size: 30px;
  margin-bottom: 50px;
}

#contact div.icono a {
  width: 20px;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 15px;
  padding: 20px;
  margin: 10px;
  text-decoration: none;
  color: black;
}

#contact div.icono a img {
  width: 50px;
  height: 50px;
  margin: 20px;
}

/* FORM SECTION*/

#form {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

input:focus{
  outline: none;
  border: 6px solid violet;
}

form legend{
  padding: 20px;
}

label, input, textarea{
margin-bottom: 15px;}

/* FOOTER */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--colorClaro);
  padding: 10px;
  color: black;
}

footer div nav ul li a {
  color:var(--colorOscuro);
}

footer div.cont-iconos {
  width: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  gap: 10px;
}

footer div.iconos a {
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-bottom: 20px;
}

footer div.iconos a:hover {
  transform: scale(1.5);
  transition: all 1s ease-in;
}

/********** RESPONSIVE DESIGNE ***********/

/*-------  MOBILE --------- */

@media screen and (max-width: 460px) {

  /* HEADER */

  header {
    flex-direction: column;
  }

  header nav ul li a {
    font-size: 15px;
  }

  ul li a.ocult {
    display: none;
  }

  /* FIRST SECTION */

  section.first .cont-photo img {
    height: 180px;
  }

  section.first .cont-description h1 {
    font-size: 30px;
  }

  section.first .cont-description h4 {
    font-size: 15px;
  }

  .button-projects {
    display: none;
  }

  /* DATE */

  .date p,
  .txt {
    font-size: 10px;
    padding: 0 30px;
  }

  /* LANGUAGE SECTION */

  div.language div img {
    height: 50px;
    width: 50px;
    border-radius: 5px;
    border: 3px solid var(--colorClaro);
    margin: 10px;
  }

  /* PROJECTS SECTION */

  div.works div.work a img {
    border: 2px solid var(--colorClaro);
    width: 100px;
    height: 150px;
    margin: 20px;
  }

  /* CONTACT SECTION*/

  #contact h3 {
    font-size: 20px;
    margin-top: 20px;
  }

  #contact span.texto {
    font-size: 15px;
  }
}

/* TABLET*/

@media (min-width: 880px) {

  /*--------- HEADER--------- */

  header {
    justify-content: space-between;
  }

  header div.logo img {
    height: 100px;
    width: 100px;
    margin: 10px;
  }

  header div.logo img:hover {
    transform: scale(1.5) translatez(100px);
    transition: 4s;

  }

  li a:hover {
    transition: black 1s;
  }

  li:hover {
    background-color: rgb(143, 23, 183);
    border-radius: 10px;
  }

  header nav li a {
    font-size: 20px;
  }

  /* FIRST SECTION */

  section.first {
    flex-direction: row;
    justify-content: space-evenly;
  }

  section.first .cont-description h1 {
    font-size: 50px;
  }

  .first .cont-description h4 {
    padding: 0 30px;
    font-size: 25px;
  }

  .first .profile-photo {
    height: 350px;
    margin: 30px;
  }

  /* DATE */

  .date p,
  .txt {
    font-size: 25px;
    padding: 0 50px;
  }

  /* LANGUAGE SECTION  */

  div.language{
    grid-template-columns: repeat(3, 1fr);
  }

  div.language div img {
    height: 150px;
    width: 150px;
    border-radius: 8px;
    border: 5px solid var(--colorClaro);
    margin: 20px;
  }
 /* ******PROJECTS SECTION */
  div.works{
    grid-template-columns: repeat(3, 1fr);
  }

  div.works div.work a img {
    border: 5px solid var(--colorClaro);
    width: 180px;
    height: 250px;
    margin: 20px;
  }
}

/*--------- DESKTOP------------ */

@media (min-width: 1440px) {
  /*  HEADER */

  header div.logo img {
    height: 200px;
    width: 200px;
    margin: 10px;
  }

  nav ul li a {
    font-size: 20px;
  }

  /* FIRST SECTION */

  section.first span {
    font-size: 30px;
    padding: 15px;
  }

  section.first .cont-description h1 {
    font-size: 30px;
  }

  .first .cont-description h4 {
    padding: 0 30px;
    font-size: 30px;
  }

  .first .profile-photo {
    height: 450px;
    margin: 50px;
  }

  .button-projects {
    width: 300px;
    height: fit-content;
  }

  .button-projects a {
    width: 200px;
    font-size: 25px;
    color: blueviolet;
  }

  /* DATE */

  .date p,
  .txt {
    font-size: 20px;
    padding: 0 30px;
  }

  /* LANGUAGE SECTION */

  div.language div img {
    height: 150px;
    width: 150px;
    border-radius: 8px;
    border: 5px solid var(--colorClaro);
    margin: 20px;
  }

  #language p{
    font-size: 20px;
  }
  /* PROJECTS SECTION */

  #projects{
    justify-content: center;
    font-size: 18px;
  }

  #projects h3{
    font-size: 25px;
  }

  div.works{
    grid-template-columns: repeat(4, 1fr);
  }

  div.works div.work a img {
    border: 5px solid var(--colorClaro);
    width: 250px;
    height: 350px;
    margin: 20px;
  }

  /* CONTACT SECTION */

  #contact {
    gap: 50px;
    padding: 20px;
  }

  #contact h3 {
    font-size: 30px;
    margin-top: 30px;
  }

  #contact span.texto {
    font-size: 30px;
    margin: 30px;
  }
  #contact div.icono {
    width: 100px;
    gap: 20px;
  }

  #contact div.icono a img {
    width: 80px;
    height: 80px;
    margin: 20px;
  }

  /* FORM SECTION*/

  #form {
    font-size: 25px;
  }

  /* FOOTER */

  footer {
    font-size: 10px;
    gap: 50px;
  }

  footer div.iconos a img {
    width: 100px;
    height: 80px;
    padding-right: 30px;
  }
}
